[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.3.27"
langchain-core = "==0.3.76"
langchain-mistralai = "==0.2.12"
langchain-community = "==0.3.29"
python-dotenv = "==1.1.1"
chromadb = "==1.1.0"
langgraph = "==0.6.7"
langchain-chroma = "==0.2.6"
typing-extensions = "==4.15.0"
"pdfminer.six" = "==20250506"
pdfplumber = "*"
pandas = "*"
scikit-learn = "*"
langchain-huggingface = "==0.3.1"
sentence-transformers = "*"
langsmith = "==0.4.41"
tk = "*"
tkintertable = "*"

[dev-packages]

[requires]
python_version = "3.10"
